.search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.search-button {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 30;
}

.right-bar {
    -fx-background-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.shadow {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}

.chosen-card {
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.kg-and-choose-box {
    -fx-background-color: rgba(225,225,255,0.3);
    -fx-background-radius: 30;
}

.add-button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.chosen-image {
    -fx-background-radius: 30;
}

.same-product {
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.best-product {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 30;
}

.product-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.loginImage{
-fx-background-image:url('resize-16487901971603680242ALIEXPRESSLOGO.png');
-fx-background-size:cover;
-fx-border-radius:5;
-fx-border-color:#7b6a46;
}

.basket-top {
-fx-background-color: #f7eded;
}

.for_basket_button {
-fx-border-radius: 80;
}

.for-adding-product {
-fx-background-color: #125363;
}





.CancelButton:hover{
 -fx-border-radius:20;
 -fx-border-color:#7b6a46;
}
.CancelButton:pressed{
}

.LoginButton:hover{
 -fx-border-radius:20;
 -fx-border-color:#7b6a46;
}
.LoginButton:pressed{
}

.SignupButton:hover{
 -fx-border-radius:20;
 -fx-border-color:#7b6a46;
}

.pane3{
-fx-background-image:url('back2.jpg');
-fx-background-size:cover;
}
.text-field{
-fx-prompt-text-fill: #000000;
}

.SignUp:hover{
 -fx-border-radius:20;
 -fx-border-color:#7b6a46;
}

.Cancel:hover{
 -fx-border-radius:20;
 -fx-border-color:#7b6a46;

}
.button:hover{
-fx-border-radius:20;
-fx-border-color:#000000;
}

.mouse-moved: hover{
 -fx-background-color: #E4E4E4;
}

.shadow{
 -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2), 10, 0 , 0 , 10);
}
